div.listPage {
  display: flex;
  height: 100vh;

  .listingswrapper {
    height: 100%;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    // border:  1px solid red;
    overflow-y: auto;
    padding-bottom: 200px;
    scrollbar-width: thin; 
    scrollbar-color: #bfbfbf #f1f1f1; 
  }

  .listcontainer {
    // background-color: blue;
    flex: 3;
  }
  .mapcontainer {
    flex: 2;
    background-color: #fcf5f6;
    height: 100vh;
    padding-bottom: 110px;
  }
}
